.Gallery-header {
    text-align: left;
}

.sec_sp {
    margin-bottom: calc(3rem + 5.128vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.t_border {
    border-color: var(--text-color) !important;
}

.image-container {
    position: relative;
    width: 500px;
    height: auto;
    overflow: hidden;
}

.gallery-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.gallery-slide.transition {
    transform: translateX(-100%);
}

.gallery-image {
    width: 100%;
}

.gallery-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
}
