#slideshow {
    position: relative;
    background-size: cover; /* Ensures the image covers the container without repeating */
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    transition: background-image 1s ease-in-out;
    border-radius: 4rem; /* Ensure the border radius is applied */
    overflow: hidden; /* Ensure no overflow if using pseudo-elements */
}

.hidden {
	display: none;
}

.intro_sec {
	height: calc(100vh - 60px);
	min-height: 700px;
	margin-top: -60px;
	display: flex;
}

.intro_sec .text,
.intro_sec .h_bg-image {
	width: 50%;
}

@media (max-width: 991.98px) {
	.intro_sec {
		display: block;
		height: auto !important;
	}

	.intro_sec .text,
	.intro_sec .h_bg-image {
		width: 100%;
	}

	.intro_sec .intro {
		max-width: 700px;
		padding: 0 20px;
	}
}

.intro_sec .intro {
	max-width: 450px;
	margin: 0 auto;
}

.intro_sec .text h1 {
	font-size: 30px;
	margin-bottom: 50px;
	font-weight: 700;
}

.intro_sec .h_bg-image {
	background-size: cover;
	background-position: center;
	min-height: 700px;
	position: relative;
	filter: saturate(1.1);
}

.ac_btn {
	padding: 4px 19px;
	color: var(--secondary-color);
	position: relative;
	border: var(--secondary-color) 2px solid;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	cursor: pointer;
	border-radius: 0;
	margin-right: 20px;
}

.ac_btn a {
	text-decoration: none;
}

.ac_btn:hover {
	box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.ac_btn .ring {
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	top: 0;
	left: 0;
	transform: translate3d(0px, 90px, 0px);
}

.ac_btn .one {
	background-color: #000;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -4;
}

.ac_btn .two {
	background-color: var(--primary-color);
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -3;
}

.ac_btn .three {
	background-color: var(--secondary-color);
	transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -3;
}

#button_h:hover {
	color: var(--primary-color);
}

#button_p {
	background: var(--secondary-color);
	color: var(--primary-color);
}

.imgtext {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	transform: translateY(-50%);
	text-align: center;
	box-sizing: border-box;
}