.outer_package_select {
	display: flex;
	flex-wrap: wrap; /* Allows the divs to wrap onto the next line */
	margin-bottom: 1rem;
	justify-content: space-between; /* Distribute space evenly */
}

.selectable-box {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #ccc;
	padding: 10px;
	cursor: pointer;
	hyphens: none;
    flex: 1 1 calc(50% - 1rem); /* Allow boxes to take up 50% of the width, minus the gap */
	box-sizing: border-box;
}

.selectable-box:hover {
	background-color: transparent;
}

.selectable-box:hover:nth-child(1) {
	background-color: rgba(255, 165, 0, 0.4);
}

.selectable-box:hover:nth-child(2) {
	background-color: rgba(128, 0, 128, 0.4);
}

.orange-border {
	border-color: orange;
	border-right: none;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.purple-border {
	border-color: purple;
	border-left: none;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}