.add_on_option {
	display: flex;
}

.add_on_box {
	height: 3.35rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0 10px;
	border: 2px solid #ccc;
	cursor: pointer;
}

.countbox {
	position: absolute;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end; /* Aligns the input towards the right */
}

.countbox input {
	width: auto;
	max-width: 50px; /* Decreased min-width to make it shorter */
	height: 2rem;
	padding: 3px; /* Reduced padding */
	box-sizing: border-box;
	font-size: 1rem;
}

.generic-box {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #ccc;
	padding: 10px;
	cursor: pointer;
	flex: 1;
}

.selected-orange {
	border-color: #ffa500;
	background-color: rgba(255, 165, 0, 0.4);
	font-weight: bold;
}
