.add_on_option {
	display: flex;
}

.add_on_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 2px solid #ccc;
	cursor: pointer;
	position: relative;
}

.addon-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	width: 100%;
}

.countbox {
	width: 100%; /* Makes the countbox take full width */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 8px; /* Adds some space between the description and the countbox */
}

.countbox input {
	width: auto;
	max-width: 50px;
	height: 2rem;
	padding: 3px;
	box-sizing: border-box;
	font-size: 1rem;
}

.generic-box {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #ccc;
	padding: 10px;
	cursor: pointer;
	flex: 1;
}

.select-orange {
	border-color: #ffa500;
	background-color: rgba(255, 165, 0, 0.4);
	font-weight: bold;
}

.select-purple {
    border-color: #800080;
    background-color: rgba(128, 0, 128, 0.4);
    font-weight: bold;
}

.ao-orange:hover:not(.disabled) {
    background-color: rgba(255, 165, 0, 0.4);
}

.ao-purple:hover:not(.disabled) {
    background-color: rgba(128, 0, 128, 0.4);
}

