.cub, .intruder {
    background-image: url('https://i.imgur.com/3Q2B8ID.jpeg');
}

.vip, .ultimate {
    background-image: url('https://i.imgur.com/MjM5dGm.jpeg');
}

.cub,
.vip,
.intruder,
.ultimate {
    position: relative;
    width: 100%;
    height: calc(100vw * 0.45);
    min-height: 400px;
    border-radius: 4rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.outer {
    display: flex;
    flex-direction: row;
}

.imgtext {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    transform: translateY(-50%);
    text-align: center;
    box-sizing: border-box;
}

.pictures {
    transition: transform 0.3s ease-in-out;
    
}

.pictures:hover {
    transform: scale(1.05);
}

.scaler {
    max-width: 100%;
    height: auto;
    border-radius: 4rem;
    overflow: hidden;
}