.game-box {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #ccc;
	padding: 10px;
	cursor: pointer;
	flex: 1;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.cub-box:hover:not(.disabled) {
	background-color: rgba(255, 165, 0, 0.4);
}

.vip-box:hover:not(.disabled) {
	background-color: rgba(128, 0, 128, 0.4);
}

.disabled {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
}

.selected-orange {
	border-color: #ffa500;
	background-color: rgba(255, 165, 0, 0.4);
	font-weight: bold;
}

.selected-purple {
	border-color: #800080;
	background-color: rgba(128, 0, 128, 0.4);
	font-weight: bold;
}

@media (max-width: 767.98px) {
	.game-box {
		padding: 8px;
		font-size: 0.9rem;
	}
}
